*{
	box-sizing: border-box;
}

.container{
	max-width: rem($container-max-width);
	width: 100%;
	padding: 0 rem(15);
	margin: 0 auto;
}

.flex-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-col{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}